---
# get jail status
- name: get jail status
  command: 'sysctl -n security.jail.jailed'
  failed_when: False
  check_mode: False
  changed_when: False
  register: jail_status

- name: register is_jail
  set_fact:
    is_jail: True
    cacheable: yes
  when: jail_status.rc == 0 and jail_status.stdout == "1"

- name: get vm guest status
  command: 'sysctl -n kern.vm_guest'
  failed_when: False
  check_mode: False
  changed_when: False
  register: vm_status

- name: register is_vm
  set_fact:
    is_vm: True
    cacheable: yes
  when: ( vm_status.rc == 0 and vm_status.stdout != "none" ) or (jail_status.rc == 0 and jail_status.stdout == "1")

# timezone
- block:
  - name: get timezone
    command: cat /var/db/zoneinfo
    register: zoneinfo
    changed_when: False
    ignore_errors: True
    check_mode: False
  - name: set timezone
    command: 'tzsetup {{ host_timezone }}'
    when: zoneinfo.stdout != host_timezone and do_sysadm
  tags: timezone

# hardening freebsd
- block:
  - name: newsyslog.conf.d
    file:
      dest: /usr/local/etc/newsyslog.conf.d
      state: directory
  - name: rc.conf
    lineinfile:
      dest: /etc/rc.conf
      regexp: '{{item.regexp}}'
      line: '{{item.line}}'
    with_items:
      - { regexp: '^clear_tmp_enable=', line: 'clear_tmp_enable="YES"' }
  - name: sysctl's
    lineinfile:
      dest: /etc/sysctl.conf
      regexp: '{{item.regexp}}'
      line: '{{item.line}}'
    with_items:
      - { regexp: '^security.bsd.see_other_uids=', line: 'security.bsd.see_other_uids=0' }
    when: 'freebsd_allow_see_other | default(False)'
  tags: baseconf, security
  when: do_sysadm or do_ssi

