---

- name: check vm
  shell: 'sysctl -n hw.vendor | grep -q "QEMU"'
  register: vm_status
  changed_when: False
  check_mode: False
  failed_when: False

- name: register is_vm
  set_fact:
    is_vm: True
  when: vm_status.rc == 0

# timezone
- name: timezone
  file:
    src: '/usr/share/zoneinfo/{{ host_timezone }}'
    dest: '/etc/localtime'
    state: link
    force: yes
  tags: timezone
  when: do_sysadm


