tos minclock 2 maxclock 6
{% for srv in ntp_servers %}
server {{ srv }} iburst
{% endfor %}
{% for pool in ntp_pools %}
pool {{ pool }}
{% endfor %}

restrict default limited kod nomodify notrap noquery nopeer
restrict limited kod nomodify notrap noquery
restrict 127.0.0.1
restrict ::1
{% if ntp_leapfile %}
leapfile "{{ ntp_leapfile }}"
{% endif %}

